<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>venda-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
  <ion-select label="Venda" placeholder="Selecione" (ionChange)="selecionarVenda($event)">
    @for(item of vendas(); track item.id){
      <ion-select-option [value]="item.id">{{item.cliente}} - {{item.data}}</ion-select-option>
    }
  </ion-select>
  <ion-button color="danger" (click)="excluir()">Excluir</ion-button>
</ion-item>

  <ion-grid>
    <ion-row>
      <ion-col><ion-label><strong>Produto</strong></ion-label></ion-col>
      <ion-col><ion-label><strong>Qtd.</strong></ion-label></ion-col>
      <ion-col><ion-label><strong>Preço Unit.</strong></ion-label></ion-col>
      <ion-col><ion-label><strong>Subtotal</strong></ion-label></ion-col>
    </ion-row>


    @for(item of itens(); track item.id){
    <ion-row>
      <ion-col><ion-label>{{item.produto}}</ion-label></ion-col>
      <ion-col><ion-label>{{item.quantidade}}</ion-label></ion-col>
      <ion-col><ion-label>{{item.valorUnitario  | currency}}</ion-label></ion-col>
      <ion-col><ion-label>{{item.quantidade * item.valorUnitario | currency}}</ion-label></ion-col>
    </ion-row>
    } @empty {
      <p>Selecione uma venda</p>
    }
  </ion-grid>

  <p>Total : {{calcularTotal()| currency}}</p>

  <ion-alert 
    [isOpen]="openAlert" 
    header="Confirma Exclusão?"
    [buttons]="alertButtons"
    (didDismiss)="setOpen(false)" />
</ion-content>
