<ion-header [translucent]="true">
    <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="cadastrar()"> <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  
    <ion-title>usuario-listagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--? - só vai acessar se o objeto tiver valor -->
<!--
  <ion-grid>
    <ion-row>
    <ion-col>Id</ion-col>
    <ion-col>Nome</ion-col>
  </ion-row>
  @for(item of userResponse?.data; track item.id){
  <ion-row>
    <ion-col>{{item.id}}</ion-col>
    <ion-col>{{item.first_name}}</ion-col>
    </ion-row>
  }
  </ion-grid>
userResponse?.data; no lugar do users
  -->

<!-- Se for puxar no vetor como signal tem q chamar ele como função -->
 
  <ion-searchbar [debounce]="100" (ionInput)="buscaNome($event)"></ion-searchbar>

  <ion-list>
 @for(item of users(); track item.id){
    <ion-item>
      <ion-avatar>
      <img alt="" src="item.avatar" />
      </ion-avatar>
      <ion-label>{{item.first_name}}</ion-label>
      <ion-label>{{item.email}}</ion-label>
      <ion-button (click)="excluir(item.id)">excluir</ion-button>
    </ion-item>
    
  }
  </ion-list>
</ion-content>
